form {
  font-size: 20px;
}
body {
  background-color: pink;
  margin-left: 400px;

  padding: 20px 30px 20px 30px;
  width: 600px;
  border-radius: 20px;
}
p {
  color: black;
  font-size: 23px;
}

h1 {
  border: 2px solid black;
  background-color: black;
  color: red;
  top: 50px;
  padding: 0cm;
  border-radius: 20px;
}
h2{ 
  font-style: italic;
}
#number_count {
  display: none;
}
